<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '860566537333704',
        xfbml      : true,
        version    : 'v2.2'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <h1>Sign In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p> Username: {{ form.username(size=80) }} </p>
      <p> Password: {{ form.password }} </p>
      <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}