<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=860566537333704&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <h1>Sign In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p> Username: {{ form.username(size=80) }} </p>
      <p> Password: {{ form.password }} </p>
      <p><input type="submit" value="Sign In"></p>
  </form>
  <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="true" data-auto-logout-link="false" onlogin="window.location.href='/facebookAuthenticate'"></div>
{% endblock %}